<h1>Basic chat</h1>

<div>
    <div class="loginSection">
        <input type="text" class="username" placeholder="Enter your username">
        <input type="button" value="Login" class="loginBtn">
    </div>

    <div class="chat">

        <div class="messageSection">
            <ul class="messages">

            </ul>
        </div>
        <input type="text" class="chatMessage" placeholder="type your message here">
        <input type="button" value="Send" class="chatBtn">
    </div>
    <script src="chat.js"></script>

</div>